.tableContainer {
    margin: 20px 20px 0px;
    background-color: white;
    padding: 2% 4% 1%;
    border-radius: 20px;
}

.spaceMarinesTable {
    width: 100%;
    border-collapse: collapse;
}

.spaceMarinesTable th, .spaceMarinesTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.spaceMarinesTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007bff;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #59a6fd;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
}

.pagination button:hover:not(.active) {
    background-color: #0b87cd;
}

.refreshButton {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.refreshButton:hover {
    background-color: #007bff;
}

.actionButton {
    margin: 0 5px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.actionButton:hover {
    background-color: #08679c;
}

.filterSortContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filterContainer, .sortContainer {
    display: flex;
    align-items: center;
}

.filterSelect, .sortSelect {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.filterInput {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.filterButton, .sortButton {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.filterButton:hover, .sortButton:hover {
    background-color: #0b87cd;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Смок */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 2% 4% 1%;
    border-radius: 20px;
    width: 70%;
    position: relative;
}
